*{
    margin: 100;
    padding: 10;
    
}
body{
    min-height: 100vh;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border: 2px brown;
    background-image:  url(images/trans.png);
    background-position: auto;
    background-size: cover;
}
.logo img{
    width: 150px;
}
nav{
    display:flex;
    padding: 2% ;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(240, 0, 0);
    display:block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.content{
    color: rgb(0, 0, 0);
    position:relative;
    text-decoration: chartreuse;
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}
table{
	letter-spacing: 1.2px;
    margin-left: auto;
    margin-right: auto;
    border:solid  black 1px ;
    
    
    
}
th{
    color: rgb(31, 21, 21);
    border:solid  rgb(0, 0, 0) 2px ;
    padding: 1px;
    text-align: center;
    
}
td{
    color: rgb(29, 11, 11);
    border:solid  black 2px ;
    padding: 1px;
    text-align: center;
}
